.mobile{
    display: none;
}

.contenedor-botones{
    padding-bottom: 1.8em;
}


@media screen and (max-width: 425px) { 

    .mobile{
        display: block;
    }
    .laptop{
        display: none;
    }

    .contenedor-contenido{
        padding: 0.5em !important;
        margin:  0 !important;
    }
    .titulo{
        color: var(--color-primario);
    }

    img{
        max-width: 85% !important;
        margin-top:0.2em;
        margin-bottom: 0.2em;
    }

    .contenedor-botones{
        display: flex !important;
        flex-direction: column !important;
        margin: 5em 0 !important;
        gap:  3em !important;
    
    }

    .descripcion-mobile{
        margin-right: 0 !important;
    }
    

}

@media screen and (max-width: 800px) and (min-width: 426px) {

    .tablet-title{
        text-align: center;
    }

    .tablet-img{
        margin-top: 4em !important;
        max-width: 100% !important;
    }

    .descripcion-tablet{
        margin-right: 0 !important;
    }

    .contenedor-botones{
        display: flex !important;
        flex-direction: column !important;
        margin: 3em 0 !important;
        gap:  1.5em !important;
    
    }


}