<section class="hero-section" style="background-color: var(--color-secundario);">
  <div class="hero-content">
    <h1>Tu Biblioteca Digital de Libros</h1>
    <p>Compra y gestiona tus eBooks y Audiolibros favoritos con facilidad y seguridad.</p>
    <button routerLink="catalogo" class="cta-button">
      Ver Catálogo Ahora
    </button>
  </div>

</section>

<section class="features-section">
  <h2>¿Por qué elegirnos?</h2>
  <div class="card-container">
    <div class="feature-card">
      <h3>Compra Segura</h3>
      <p>Transacciones protegidas y gestión de derechos de autor (DRM) garantizada.</p>
    </div>
    <div class="feature-card">
      <h3>Ebooks y Audiolibros</h3>
      <p>Acceso a formatos PDF, EPUB y MP3 de alta calidad.</p> 
    </div>
    <div class="feature-card">
      <h3>Historial Centralizado</h3>
      <p>Revisa y gestiona todas tus compras desde un solo lugar.</p>
    </div>
  </div>
</section>