
.hero-section {
    padding: 80px 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--color-primario);
    background-color: #F5F5DC;
}

.hero-content h1 {
    font-size: 2.5em;
    margin-bottom: 12px;
    
}

.features-section {
    padding: 50px;
    text-align: center;
    background-color: var(--color-secundario);
    padding-bottom: 7.88em;
}

.card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.feature-card {
    width: 30%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #F5F5DC;
    color: var(--color-primario);
}