<nav class="app-navbar" style="background-color: #EEDCB3;">
    <div class="logo">
        <a routerLink="/" class="nav-brand" style="color: var(--color-primario);">Licencias Digitales 📖</a>
    </div>
    <div class="nav-links">
        <a routerLink="/catalogo" class="nav-link">Catálogo</a>
        <a routerLink="/biblioteca" class="nav-link">Mi Biblioteca</a>
        <a routerLink="/detalle" class="nav-link">Detalle</a>
        <a routerLink="/ayuda" class="nav-link">Ayuda</a>
        <a routerLink="/carrito" class="nav-link">Carrito</a>
    </div>
    <div class="user-actions">
        <a routerLink="/login" class="login-button" style="background-color: var(--color-primario);">Iniciar Sesión</a>
    </div>
</nav>