@if (cartItems.length > 0) {
<div class="cart-container">
  <h2>Tu carrito de compras</h2>

  <ul class="cart-list">
    @for (book of cartItems; track $index) {
    <li>
      <div class="book-info">
        <h4>{{ book.title }}</h4>
        <p>{{ book.author }}</p>
        <span>${{ book.price }}</span>
      </div>
      <button (click)="removeFromCart(book.id)">Eliminar</button>
    </li>
    }
  </ul>

  <div class="cart-summary">
    <p>
      Total: <strong>${{ total }}</strong>
    </p>
 <button (click)="finalizarCompra(cartItems)">Finalizar compra</button>
  </div>

  <button
    
    class="btn-primary"
    [disabled]="cartItems.length === 0"
  >
    Ir a Mi Biblioteca
  </button>
</div>
} @else {
<p>Tu carrito está vacío.</p>
}
