<div class="m-3 d-flex gap-3">
  <aside class="filtros">
    <p class="titulo-seccion fs-3">Búsqueda</p>

    <form [formGroup]="filtros" (ngSubmit)="buscarLibros()">
      <input
        type="text"
        formControlName="busqueda"
        class="form-control"
        placeholder="Buscar por nombre, autor o formato"
      />

      <div class="my-3">
        <p class="titulo-seccion">Géneros</p>
        <hr />
      
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let gen of generos">
            <a href="#" (click)="filtrarPorGenero(gen)">{{ gen }}</a>
          </li>
        </ul>
      </div>

      <div class="rango-precio">
        <p class="titulo-seccion">Rango de precios</p>
        <hr />

        <div class="d-flex gap-5 mx-2">
          <div>
            <label for="minimo" class="mb-1">Mínimo</label>
            <input
              type="number"
              id="minimo"
              formControlName="precioMinimo"
              class="form-control"
              placeholder="$3000"
            />
          </div>
          <div>
            <label for="maximo" class="mb-1">Máximo</label>
            <input
              type="number"
              id="maximo"
              formControlName="precioMaximo"
              class="form-control"
              placeholder="$20000"
            />
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary w-100 mt-3">Buscar</button>
    </form>
  </aside>

  <section class="flex-grow-1">
    @if (errorMessage) {
    <div class="row">
      <div class="col-12 col-md-8 col-lg-6 mx-auto">
        <div class="alert alert-danger text-center my-3" role="alert">
          <strong>Error:</strong> {{ errorMessage }}
        </div>
      </div>
    </div>
    }
  </section>

  <section class="grid-libros">
    @for (book of books; track $index) {
    <article class="libro">
      <div class="informacion" [routerLink]="['/detalle', book.id]">
        <img
          [src]="book.ruta_imagen"
          class="portada"
          [alt]="'Portada de ' + book.titulo"
        />
        <h3 class="titulo-libro">{{ book.titulo }}</h3>
        <h4 class="autor-libro">{{ book.autor }}</h4>

        <div class="mb-3">
          <p class="m-0">{{ book.genero }}</p>
          <strong>{{ book.formato }}</strong>
        </div>
      </div>

      <div class="precio">
        <b>${{ book.precio | number }}</b>
        <button class="cta-button">Agregar al Carrito</button>
      </div>
    </article>
    }
  </section>
</div>
