<section class="hero-section" style="background-color: var(--color-secundario);">
  <div class="hero-content">
    <h1>Tu Biblioteca Digital de Licencias</h1>
    <p>Compra y gestiona licencias de tus eBooks y Audiolibros favoritos con facilidad y seguridad.</p>
    <button routerLink="catalogo" class="cta-button">
      Ver Catálogo Ahora
    </button>
  </div>

</section>

<section class="features-section">
  <h2>¿Por qué elegirnos?</h2>
  <div class="card-container">
    <div class="feature-card">
      <h3>Licencias Seguras</h3>
      <p>Gestión de derechos de autor (DRM) garantizada.</p>
    </div>
    <div class="feature-card">
      <h3>Ebooks y Audiolibros</h3>
      <p>Acceso a formatos PDF, EPUB y MP3 de alta calidad.</p>
    </div>
    <div class="feature-card">
      <h3>Historial Centralizado</h3>
      <p>Revisa y renueva todas tus licencias desde un solo lugar.</p>
    </div>
  </div>
</section>